*{
    padding: 0;
    margin: 0;
}

h1, p{
    margin: 10px;
    padding: 10px;
}

h3{
    margin-left: 20px;
    color: aliceblue;
}


div:hover{
    border: 1px solid #127077;
}

div:nth-of-type(1){
    background: blue;
}

div:nth-of-type(2){
    background: green;
}

div:nth-of-type(3){
    background:orangered;
    padding: 5px;
}

div:nth-of-type(4){
    background:rgb(0, 0, 61)
}

div:nth-of-type(5){
    background:rgb(51, 51, 255)
}

div:nth-of-type(odd){
    font-style: italic;
}