/* *{
  margin: 0;
  padding: 0;
} */

li{
  display: inline-block;
  margin: 0 30px;
  width: 80px;
  height: 20px;
  text-align: center;
}

span{
  display: inline-block;
  width: 200px;
  text-align: right;
}

